.sidebar {
    display: flex;
    /* background-color: var(--bg-color); */
    background-color: black;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.sidebar .links {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sidebar li {
    list-style: none;
}

.sidebar li a {
    text-transform: uppercase;
}

.contact-info {
    display: flex;
    flex-direction: row;
}

.contact-links {
    display: flex;
    gap: 25px;
}

.contact-links li a{
    font-size: 25px;
}

.contact-links li a:hover {
    
}
