/* RESET DEFAULT STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    height: 100vh;
    color: white;
    background-color: #0e172e;
    overflow: hidden;
}
