li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: inline-block;
    transition: transform 0.2s ease;
}

a:hover {
    transform: scale(1.1);
}

header {
    position: relative;
    padding: 0 30px;
}


/* NAV-BAR STYLES */
.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar .links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.links li:hover a {
    color: rgb(84, 252, 255);
    transform: scale(1.1); 
}

.navbar .toggle_btn {
    font-size: 22px;
    cursor: pointer;
    display: none;
}

.action_btn {
    /* background-color: #ff5e6c; */
    background-color: transparent;
    padding: 5px 10px;
    border-style: solid;
    border-radius: 5px;
    color: rgb(84, 252, 255);
    border-color: rgb(84, 252, 255);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.action_btn:hover {
    transform: scale(1.05);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 250px;
    height: 0;
    background-color: rgba(231, 201, 155, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s ease;
    z-index: 1000;
}

@media (max-width: 992px) {
    .navbar .links,
    .navbar .links .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }
}

@media (max-width: 500px) {
    .dropdown-menu{
        left: 20px;
        width: unset;
    }
}

.dropdown-menu.open {
    height: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-menu li {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}