main {
    padding: 80px 80px;
    display: flex;
    max-width: 1200px;
    justify-content: center;
    animation: var(--transition);
}

/* BOTTOM RIGHT EMAIL TEXT */

p#email{
    writing-mode: vertical-lr;
    position: fixed;
    font-size: 0.8rem;
    bottom: 70px;
    right: 30px;
    animation: var(--transition);
    cursor: pointer;
    height: 200px;
    transition: height 1s;
}

p#email:hover {
    height: 210px;
}

p#email a:hover {
    color: var(--secondary-color);
}

/* INTRODUCTION STYLES AND LAYOUT */

section#introduction {
    display: flex;
    position: relative;
    top: 100px;
    gap: 20px;
    padding: 10px;
    flex-direction: column;
}

section#introduction h1{
    font-size: 60px;
    max-width: 700px;
}

section#introduction p{
    max-width: 500px;
}

.intro-button {
    background-color: transparent;
    border-style: solid;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
    width: 240px;
    transition: scale 0.2s ease, width 0.5s ease;
}

.intro-button:hover {
    scale: 1.05;
}

.tech-stack-container {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    margin-top: -10px;
    max-height: 300px;
    max-width: 450px;
    grid-row-gap: 3px;
    .box {
        color:var(--p-color);
        display:flex;
        align-items:center;
        justify-content:start;
    }
}

#box-span {
    color: var(--secondary-color);
    margin-right: 5px;
}

/* ABOUT_ME/MY_EXPERIENCES STYLES AND LAYOUT */

section#about_me,
section#experiences {
    display: flex;
    position: relative;
    margin-top: 200px;
    margin-bottom: 200px;
    gap: 20px;
    padding: 10px;
    flex-direction: column;
}

section#about_me h1,
section#experiences h1 {
    font-size: 40px;
    max-width: 700px;
    color: var(--h1-color);
}

section#about_me p {
    max-width: 500px;
    line-height: 20px;
    color: var(--p-color);
}

#mobiliseSpan {
    color: var(--secondary-color);
    cursor: pointer;
    position: relative; /* Ensure the span is positioned relative for the ::after element */
    display: inline-block; 
}

#mobiliseSpan::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; 
    background-color: var(--secondary-color);
    transform: scaleX(0); /* Start with scale 0 */
    transform-origin: left; /* Animate from the left to right */
    transition: transform 0.3s ease-out; 
}

#mobiliseSpan:hover::after {
    transform: scaleX(1); 
}

