:root {
    --bg-color: #0e172e;
    --h1-color: rgb(199, 224, 246);
    --p-color: rgb(143, 197, 245);
    --secondary-color: rgb(84, 252, 255);

    --transition: transitionIn 3s;
}

/* RESET DEFAULT STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    color: white;
    background-color: var(--bg-color);
}

